body {
    background-color: black;
    color: white;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown button {
    background-color: #FF8C00; /* Dark Orange */
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}
.dropdown button:hover {
    background-color: black;
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FF8C00; /* Dark Orange */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: black;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-link {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}
.dropdown-link:hover {
    background-color:#FF8C00;
    color: black;
}
.clock-container {
    display: flex;
    justify-content: space-around;
}
.clock {
    margin: 20px;
    font-size: 20px;
}
.tab {
    display: none;
  }
  .tab.active {
    display: block;
  }